<p id="notice"><%= notice %></p>

<h1>DASHBOARD</h1>

<p>Current Balance</p>
Your current balance is: $<%= @current_balance %>

<br>
<br>
<%= link_to 'List Rackets', rackets_index_path %>
<%= link_to 'New Racket', new_racket_path %>
